.services {
    padding-top: 10%;
    background-image: var(--second-gradient);
    padding-bottom: 100px;
     min-height: 92vh;
}

.services__container {
    text-align: center;
    padding-bottom: 60px;
}

.services__item {
    position: relative;
    border: 2px solid rgba(255, 255, 255, 0.1);
    background: var(--container-color);
    backdrop-filter: blur(10px);
    transition: all 0.4s var(--transition);
    overflow: hidden;
    cursor: pointer;
}

.services__item:hover {
    transform: translateY(-10px);
    border-color: var(--primary-color);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3), 0 0 30px rgba(var(--primary-color-rgb), 0.2);
    background: rgba(255, 255, 255, 0.176);
}

.services__subtitle {
    color: var(--primary-color);
    font-size: var(--smaller-font-size);
    font-weight: 700;
    margin-bottom: 20px;
    display: block;
    letter-spacing: 0.2em;
}

.services__title {
    font-size: var(--h3-font-size);
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--title-color);
    font-family: var(--heading-font-family);
}

.services__description {
    min-height: 120px;
    line-height: 1.8;
    margin-bottom: 30px;
    color: var(--text-color);
}

.link {
    display: inline-flex;
    align-items: center;
    font-weight: 700;
    color: var(--title-color);
    font-size: var(--small-font-size);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transition: all 0.3s var(--transition);
}

.link:hover {
    color: var(--primary-color);
}

.link__icon {
    color: var(--primary-color);
    margin-left: 15px;
    transition: all 0.3s var(--transition);
}

.link:hover .link__icon {
    margin-left: 20px;
    transform: translateX(5px);
}


.c__shape {
    position: absolute;
    right: -30px;
    bottom: -30px;
    width: 150px;
    height: 150px;
    opacity: 0.1;
    filter: invert(1);
    transform: rotate(45deg);
    transition: all 0.4s var(--transition);
  
}


.services__item:hover .c__shape {
    opacity: 0.2;
    transform: rotate(60deg) scale(1.1);
}

.swiper-wrapper {
    margin-bottom: 50px;
}



.swiper-horizontal>.swiper-pagination-bullets {
    position: relative;
    display: inline-block;

}



/* .swiper-horizontal> .swiper-pagination-bullets::before{
    content: "";
    position: absolute;
    right:0;
    top: 50%;
    height: 2px;
    width: 100%;
   transform: translateY(50%);
   background-color: var(--title-color);
} */


.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    border: 2px solid var(--border-color);
    background-color: transparent;
    width: 12px;
    height: 12px;
    opacity: 1;
    transition: all 0.3s var(--transition);
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet-active {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    transform: scale(1.2);
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:hover {
    border-color: var(--primary-color);
}