.contact {
    background-image: var(--first-gradient);
    padding-top: 5%;

}

.contact__container {
    grid-template-columns:5fr 7fr;
    
}

.contact__card {
    padding-left: 130px;
    margin-bottom:80px;
    position:relative;
}

.contact__card-icon,
.contact__form-input{
    border:2px solid var(--border-color);
    background-color:var(--container-color);
}

.contact__card-icon {
    position:absolute;
    top:0;
    left:0;
    width:50px;
    height:50px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius: 50%;
    display: grid;
    place-items: center;
    box-shadow:var(--shadow);
    font-size: var(--larger-font-size);
}


.contact__card-icon::after{
    content:"";
    position:absolute;
    top:50%;
    left:100%;
    width:40px;
    height:2px;
    background-color:var(--border-color);
    margin-top:-1px;
}

.contact__card-title {
        font-size: var(--h2-font-size);
        font-family: var( --secondary-font-family);
        font-weight: 700;
        padding-block: 6px;
    
}

.contact__form-group{
    grid-template-columns: repeat(2,1fr);
    column-gap: 30px;
}

.contact__form-div{
    display: grid;
    row-gap: 10px;
    margin-bottom: 30px;
}

.contact__form-tag{
    margin-left:0;
    font-size: var(--smaller-font-size);
    line-height: 1.7;
    font-weight: 700;
    line-height: 1.5;
}

.contact__form-input{
    color: var(--title-color);
    height: 50px;
    border-radius: 30px;
    padding-inline: 20px;
    font-size: var(--smaller-font-size);
}

.contact__form-area .contact__form-input{
    height: 140px;
    padding-block: 20px;    
    resize: none;
}

.contact__submit{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 30px;

}