.header{
    position:absolute;
    top:0;
    width: 100%;
    padding: 30px;
    z-index: 100;
}

.scroll-nav{
    position:fixed;
    background-color: var(--bg-color-alt);
    animation:header_animate 0.8s var(--transition) 0s forwards;
}

@keyframes header_animate{
    0%{
        transform:translateY(-100%);
    }
    100%{
        transform:translateY(0);
    }
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.nav__logo{
    color: var(--title-color);
    font-size: var(--h4-font-size);
    font-weight: 700;
    cursor: pointer;
    
}


.nav__menu{
    position: fixed;
    top: 0;
    right:0;
    width: 0;
    height:100vh;
    display:flex;
    background-color: var(--bg-color-alt);
    transition:all 0.8s var(--transition);
    z-index: 10;
}
.active{
   width:480px;
}


.nav__data{
    padding:80px 84px 0 154px;
    margin:auto;
    width: 100%;   
}


.nav__list{
   margin-bottom:50px;
}

.nav__list li{
   margin-bottom:80px;
}

.nav__link {
    color:var(--title-color);
    font-size: var(--h4-font-size);
    transition:all 0.3s var(--transition);
    padding-bottom: 2%;
    cursor: pointer;
    
}




.nav__link:hover{
    color:var(--primary-color);
}

.header__socials {
    display: flex;
    column-gap: 25px;
    margin-bottom: 40px;
}

.header__social-link {
    color: var(--title-color);
    font-size: 24px;
    transition: var(--transition);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.header__social-link:hover {
    color: var(--primary-color);
    border-color: var(--primary-color);
    transform: translateY(-5px);
    background-color: rgba(var(--primary-color-rgb), 0.1);
}

.nav__btns{
    display: flex;
    align-items: center;
    column-gap: 40px;
}

.theme__toggle{
    font-size: var(--h4-font-size);
    display: flex;
    align-items: center;
    color: var(--title-color);
    transition: var(--transition);
    z-index: 100;
}

.theme__toggler{
  font-size: var(--h4-font-size);
  cursor: pointer;
  margin-top: 5px;
}

.theme__toggle,
.nav__toggle{
  cursor: pointer;
}


.nav__toggle{
    height:28px;
    width:28px;
    /* background-color: var(--primary-color); */
    /* border-radius: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    z-index: 100;
}

.nav__toggle span{
    position:absolute;
    left:0;
    width:100%;
    height:2px;
    background-color: var(--title-color);
    transition:all 0.3s var(--transition);

}

.nav__toggle span:first-child{
    top:8px;
}

.nav__toggle span:last-child{
    bottom:8px;
}

.animate-toggle span:first-child{
    transform:rotate(-45deg);
    top:12px;
}

.animate-toggle span:last-child{
    transform:rotate(45deg);
    bottom:14px;
}


.active-link {
    color: var(--primary-color);
}
