.footer{
    background-image: var(--second-gradient);
    border-top:1px solide rgba(255, 255, 255, 0.05);
    padding-block: 50px;
}

.footer__container{
    grid-template-columns: repeat(3,1fr);
}

.footer__socials {
    display: flex;
    column-gap: 25px;
    margin-bottom: 40px;
}

.footer__social-link {
    color: var(--title-color);
    font-size: 24px;
    transition: var(--transition);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer__social-link:hover {
    color: var(--primary-color);
    border-color: var(--primary-color);
    transform: translateY(-5px);
    background-color: rgba(var(--primary-color-rgb), 0.1);
}

.footer__copyright:nth-child(2){
    justify-self:  center;
    
}

.footer__copyright:nth-child(3){
    justify-self:  flex-end;
    
}

.footer__copyright{
    font-size: var(--tiny-font-size);
    font-weight: 700;
    
}

.footer__copyright span{
    color: var(--primary-color);
}